@{
    Layout = "default";
}
@helper PostDate(DateTimeOffset rawDate) {
    <time datetime="@rawDate.ToUniversalTime().ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss")" pubdate data-updated="true">@rawDate.ToUniversalTime().ToString("MMM d, yyyy")</time>
}
<h1>@Title</h1>
<div class="view"><small>@PostDate(System.DateTimeOffset.Parse(ViewBag.Date))</small></div>
@RenderBody()